html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #C2C2C2 url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FFF;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 650px;
    min-height: 650px;
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em;
    /* this is set to fix an issue with restart-icon__holder*/
    z-index: 1;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;

    animation-name: flipIny;
    -webkit
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.disabled {
    pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-left: 50px;

}

/* Added a CSS style for the timer */
.score-panel .timer {
    margin-left: 80px;
}
/*end*/
.fade-out {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

#popupmodal .animate {
    position:relative;
    animation:animatetop 0.4s}
        @keyframes animatetop{
            from{top:-300px;opacity:0} 
            to{top:0;opacity:1}
}
/*Popup modal
*/
#popupmodal {
    position: fixed;
    text-align: center;
    z-index:3;
    z-index: 1000005;
    color:  #FFF;
    width: auto;
    height: auto;
    padding: 25px;
    background: linear-gradient(160deg, #00c3ff 0%, #ffff1c 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    top: 70px;
    left: 325px;
    visibility: hidden;
}

#popupmodal .close {
/*    background: linear-gradient(160deg, #2980B9 0%, #6DD5FA 100%); */  
    width: auto;
    height: auto;
    padding: 10px;
    position: absolute;
    color: #C2C2C2;
    top: 0px;
    right: 0px;
    border-radius: 8px;

}

#play-again {
    border-radius: 8px;
    width: auto;
    height: auto;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#play-again:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background: linear-gradient(160deg, #00C9FF 0%, #92FE9D 100%);
}

/* i'm using !important here to override the element style because i didn't nested it from his parent */
.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}
/* Animations */
/*
@keyframes flipIny{
                from {
                    transform: perspective(400px) rotate3d(90deg);
                    animation-timing-function: ease-in;
                    opacity: 0;
                }
                40% {
                   -webkit-transform: perspective(400px) rotate3d(-20deg);
                   animation-timing-function: ease-in;
                }
                60% {
                   -webkit-transform: perspective(400px) rotate3d(10deg);
                   opacity: 1;
                }
                80% {
                   -webkit-transform: perspective(400px) rotate3d(-5deg);
                }
                to {
                    transform: perspective(400px);
                }                                                                              
}*/
